body {
    font-family: "HelveticaNeue-Light", "Helvetica Neue Light", "Helvetica Neue", 
  Helvetica, Arial, "Lucida Grande", sans-serif;
    background-color: white;
    width: 50%;
    margin: auto;
    margin-top: 0px;
}
.screen{
    position: absolute;  
    width: 352px;
    height: 262px;
    margin-top: 41px;
}

#ipod {
  display: flex;
  justify-content: center;
}

.header h4,img{
  display: inline-block;
}

.header img {
  float: right
}

.header {
    width: 100%;
    background: rgb(247,251,250);
    background: linear-gradient(180deg, rgba(247,251,250,1) 0%, rgba(129,141,141,1) 100%);
}

.htext {
  align-items: left;
}

h4 {
  margin:0;
  margin-left:5px;
}

.header img {
  margin-top:5px;
  margin-left:2px;
  margin-right: 2px;  
}

.lmenu {
    float: left;
    width: 176px;
    background-color: white;
  }

.rmenu {
  float: left;
    width: 176px;
    height: 100%;
    background: url("../images/escapeartist.jpg");
    background-repeat: no-repeat;
    background-size: cover;
  }

ul {
    list-style: none;
    margin-block-start: 0em;
    margin-block-end: 0em;
    margin-inline-start: 0px;
    margin-inline-end: 0px;
    padding-inline-start: 0px;
    color: white;
}
ul a {
    text-decoration: none;
    color: black;
    font-size: 20px;
    font-weight: bold;
    text-align: left;
    padding:0;
    margin-inline-start: 5px;
}

ul li {
  margin-bottom: 3px
  
}

ul li:hover {
  background: rgb(38,165,206);
  background: linear-gradient(180deg, rgba(38,165,206,1) 0%, rgba(18,92,153,1) 100%);
}

li:hover a {
  color: inherit;
}

li:hover:after {
  content: url("../images/navarrow.png");
  width: 1px;
  height: 100%;
  float: right;
  align-items: right;
  margin-right: 15px;
}

